.table-container {
	border: dotted black;
	border-width: 1px;
	border-radius: 7px;
	margin-top: 1%;
	height: 650px;
	width: 100%;
	overflow-y: scroll;
}

.filters {
	margin-top: 2%;
}

.filter-element {
	padding: 5px;
}

body {
	background-color: #F4F8F9;
}

table {
	background-color: white;
}

th {
	background-color: #C3DAE4;
	color: #2A2D34;
}

th, td {
	padding: 4px;
	padding-left: 10px;
}

tr:hover {
	background-color: #F4F8F9;
}

span {
	color: #2A2D34;
	font-weight: bold;
}
